<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>ResetPassword</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Internal CSS -->
  <style>
    body {
      background-color: #F0F2F5;
    }

    .resetContainer {
      border-radius: 7.5px;
      background-color: white;
    }

    .resetContainer img {
      width: 50px;
    }

    .row {
      height: 100vh;
    }
  </style>
</head>

<body>
  <div class="row align-items-center">
    <!-- Main container -->
    <div class="container col-10 col-sm-7 col-md-5 col-lg-4 shadow-lg mx-auto d-block resetContainer p-3">

      <!-- Vessel Image -->
      <img th:src="@{images/Vessel.png}" class="img-fluid mx-auto d-block">

      <!-- Container Text -->
      <hr>
      <p class="lead text-center text-secondary">Please enter the new password</p>

      <!-- Register Form -->
      <form id="register-form" th:action="@{user/updatePassword}" method="post">

        <!-- Password Field -->
        <div class="form-group">
          <input type="password" name="password" id="password" class="form-control" placeholder="Password">
        </div>

        <!-- Token Field Hidden -->
        <input type="hidden" name="token" id="token">

        <!-- Confirm Password Field -->
        <div class="form-group">
          <input type="password" name="cfmPassword" id="cfmPassword" class="form-control"
            placeholder="Confirm Password">
        </div>

        <!-- Password Do Not Match Failure Message -->
        <div id="pwdError" class="form-group" th:text="${formError}" style="color: red;"></div>

        <!-- Password Reset Button -->
        <button type="submit" class="btn btn-success btn-block text-white" id="resetPassword" disabled>Reset
          Password</button>

        <!-- Seperator -->
        <hr>

        <!-- Return to Login Link -->
        <a th:href="@{/login}">Return to Login</a>

      </form>

    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- Optional JavaScript -->
  <script>

    const urlParams = new URLSearchParams(window.location.search);
    const token = urlParams.get('Authorization').split(" ")[1];
    document.getElementById("token").value = token;

    function CheckPwd() {
      var pw = $('#password').val();
      var cfmpw = $('#cfmPassword').val();
      const pwdErrorMsg = document.getElementById("pwdError");

      if (pw === cfmpw) {
        document.getElementById("resetPassword").disabled = false;
        pwdErrorMsg.innerText = "";
        return;
      }

      pwdErrorMsg.innerText = "Passwords do not match";
      document.getElementById("resetPassword").disabled = true;
    }

    //on keyup, start the countdown
    $('#password,#cfmPassword').keyup(function () {
      //Only if the both password fields are not empty
      if ($('#password').val() && $('#cfmPassword').val()) {
        CheckPwd();
        return;
      }
      document.getElementById("resetPassword").disabled = true;
    });
  </script>

</body>

</html>