<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Reset Password</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <!-- Internal CSS -->
  <style>
    body {
      background-color: #F0F2F5;
    }

    .resetContainer {
      /* float:right; */
      border-radius: 7.5px;
      margin-top: 0px;
      background-color: white;
      padding: 15px;
    }

    .resetContainer img {
      width: 50px;
    }

    .row {
      height: 100vh;
    }
  </style>

</head>

<body>

  <div class="row align-items-center">
    <!-- Main container -->
    <div class="container col-10 col-sm-7 col-md-5 col-lg-4 shadow-lg mx-auto d-block resetContainer">

      <!-- Vessel Image -->
      <img src="../static/images/Vessel.png" th:src="@{images/Vessel.png}" class="img-fluid mx-auto d-block">

      <!-- Container Text -->
      <p class="lead text-center text-secondary">Reset Password</p>
      <p class="text-center text-secondary">Please enter your email address to reset the password</p>

      <!-- Seperator -->
      <hr>

      <!-- Reset Form -->
      <form id="reset-form" th:action="@{/sendingResetLinkToEmail}" method="post">

        <!-- Email Field -->
        <div class="form-group">
          <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email">
        </div>

        <!-- Async Email Check Success/Failure Message -->
        <div id="asyncMessage" class="form-group" th:text="${formError}" style="color: red;"></div>

        <!-- Reset Button -->
        <button type="submit" id="resetBtn" class="btn btn-primary btn-block text-white" disabled>Reset Now!</button>

        <!-- Seperator -->
        <hr>

        <!-- Return to Login Link -->
        <a th:href="@{/login}">Return to Login</a>

      </form>

    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script>
    //setup before functions
    var typingTimer;                //timer identifier
    var doneTypingInterval = 500;    //time in ms (500 milli)

    //on keyup, start the countdown
    $('#email').keyup(function () {
      clearTimeout(typingTimer);
      //Only if the email field is not empty
      if ($('#email').val()) {
        typingTimer = setTimeout(doneTyping, doneTypingInterval);
      } else {
        document.getElementById("resetBtn").disabled = true;
      }
    });

    //user is "finished typing," do something
    function doneTyping() {
      var re = /\S+@\S+\.\S+/;
      let email = $('#email').val();
      if (!(re.test(email))) {
        let asyncMessage = document.getElementById("asyncMessage");

        asyncMessage.style.color = "red";
        asyncMessage.innerText = "";
        asyncMessage.innerText = "Please type a valid email";
        document.getElementById("resetBtn").disabled = true;
      } else {
        //step 1: create an XMLHttpRequest object to interact with the server
        var request = new XMLHttpRequest();

        //step 2: set onreadystatechange to specify what happens when a server response is received
        request.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            let asyncMessage = document.getElementById("asyncMessage");

            if (this.responseText == -1) {
              asyncMessage.style.color = "red";
              asyncMessage.innerText = "";
              asyncMessage.innerText = "Email does not exist";
              document.getElementById("resetBtn").disabled = true;
              return;
            }
            asyncMessage.style.color = "green";
            asyncMessage.innerText = "";
            asyncMessage.innerText = "Email is valid";
            document.getElementById("resetBtn").disabled = false;
          }
        };

        //step 3: send the request to the server
        request.open("POST", "/user/asyncEmailChecker", true);
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        request.send("email=" + email);
      }
    }
  </script>
</body>

</html>