<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Subscription</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font-Awesome CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous">


    <!-- External CSS -->
    <link rel="stylesheet" th:href="@{/css/external.css}">

    <!-- Internal CSS -->
    <style>
        .resetContainer {
            background-color: white;
            border-radius: 7.5px;
        }
    </style>

</head>

<body>
<!-- Navbar -->
<div th:insert="fragments/header :: header"></div>

<!-- Store Session Values -->
<input id="token" type="hidden" name="token" th:value="${session.token}">
<input id="userID" type="hidden" name="userID" th:value="${session.id}">

<!-- The Container that holds the datatable and Dropdownlist for dates -->
<div class="container col-10 col-sm-7 col-md-5 col-lg-4 shadow-lg mx-auto d-block resetContainer p-3">

    <!-- Container Text -->
    <p class="lead text-center text-secondary">Reset password</p>

    <!-- Register Form -->
    <form id="register-form" th:action="@{user/loggedInUpdatePassword}" method="post">

        <input type="hidden" name="userID" id="userID" th:value="${session.id}">


        <!-- Old Password Field -->
        <div class="form-group">
            <input type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="Old Password">
        </div>

        <!-- New Password Field -->
        <div class="form-group">
            <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="New Password">
        </div>

        <!-- Confirm New Password Field -->
        <div class="form-group">
            <input type="password" name="cfmNewPassword" id="cfmNewPassword" class="form-control"
                   placeholder="Confirm New Password">
        </div>

        <!-- Password Do Not Match Failure Message -->
        <div id="pwdError" class="form-group" th:text="${formError}" style="color: red;"></div>
        <div id="resetSucess" class="form-group" th:text="${formSuccess}" style="color: green;"></div>

        <!-- Password Reset Button -->
        <button type="submit" class="btn btn-success btn-block text-white" id="resetPassword" disabled>Reset
            Password</button>

    </form>

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


<script th:src="@{/js/navBarBadgeValues.js}" crossorigin="anonymous"></script>

<script>

        var token = $("#token").val();
        let userID = $("#userID").val();

        console.log("Userid=" + userID);

        //setup before functions
        var typingTimer;                 //timer identifier
        var doneTypingInterval = 500;    //time in ms (500 milli)
        var isBothPasswordsSame = false;
        var isOldPasswordValid = false;

        //on keyup, start the countdown
        $('#oldPassword').keyup(function () {
            clearTimeout(typingTimer);
            if ($('#oldPassword').val()) {
                typingTimer = setTimeout(doneTyping, doneTypingInterval);
            }else{
                document.getElementById("resetPassword").disabled = true;
            }
        });

        //user is "finished typing," do something
        function doneTyping() {
            let oldPassword = $('#oldPassword').val();

            //step 1: create an XMLHttpRequest object to interact with the server
            var request = new XMLHttpRequest();

            //step 2: set onreadystatechange to specify what happens when a server response is received
            request.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                let asyncMessage = document.getElementById("pwdError");
                if (this.responseText == -1) {
                    pwdError.style.color = "red";
                    pwdError.innerText = "";
                    document.getElementById("resetSucess").innerText = "";
                    pwdError.innerText = "Invalid OLD password";
                    document.getElementById("resetPassword").disabled = true;
                    isOldPasswordValid = false;
                    return;
                }
                isOldPasswordValid = true;
                pwdError.innerText = "";

                //Check if both passwords match again
                CheckPwd()
                if(isOldPasswordValid && isBothPasswordsSame){
                    document.getElementById("resetPassword").disabled = false;
                    checkForOldNewPasswordSame();
                }
            }
            };

            //step 3: send the request to the server
            request.open("POST", "/user/asyncOldPasswordChecker", true);
            request.setRequestHeader('Authorization', 'Bearer ' + token);
            request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            request.send("userID=" + userID +"&oldPassword=" + oldPassword);
        }


        function CheckPwd() {
            var pw = $('#newPassword').val();
            var cfmpw = $('#cfmNewPassword').val();
            const pwdErrorMsg = document.getElementById("pwdError");

            if (pw == cfmpw) {
                if(pw != ""  && cfmpw != ""){
                    pwdErrorMsg.innerText = "";
                    isBothPasswordsSame = true;

                    if (isBothPasswordsSame && isOldPasswordValid){
                        document.getElementById("resetPassword").disabled = false;
                        checkForOldNewPasswordSame();
                        return;
                    }else if (!isOldPasswordValid){
                        pwdError.innerText = "Invalid OLD password";
                    }
                }
                document.getElementById("resetPassword").disabled = true;
                return;
            }
            document.getElementById("resetSucess").innerText = "";
            pwdErrorMsg.innerText = "";
            pwdErrorMsg.innerText = "Passwords do not match";
            isBothPasswordsSame = false;
            document.getElementById("resetPassword").disabled = true;

        }

        function checkForOldNewPasswordSame(){
            var oldPw = $('#oldPassword').val();
            var newPw = $('#newPassword').val();

            if(oldPw == newPw){
                document.getElementById("pwdError").innerText = "Old and New Password cannot be the same";
                document.getElementById("resetPassword").disabled = true;
            }
 
        }
          
    
        //on keyup, start the countdown
        $('#newPassword,#cfmNewPassword').keyup(function () {
        //Only if the both password fields are not empty
        if ($('#newPassword').val() && $('#cfmNewPassword').val()) {
            CheckPwd();
        }
        });
    </script>
</body>

</html>